In [1]:
"""import data using pandas"""
import os
import pandas as pd
S1_PATH = os.path.join('..','..','Datasets_Healthy_Older_People','S1_Dataset')
S2_PATH = os.path.join('..','..','Datasets_Healthy_Older_People','S2_Dataset')
print('Importing Data...')
data_path = os.path.join(S1_PATH, "d1p01M")
s1_1_data = pd.read_csv(data_path, header=None)
print('Done.')

Importing Data...
Done.

In [2]:
"""some quick information about the data"""
s1_1_data.info()
s1_1_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401 entries, 0 to 400
Data columns (total 9 columns):
0    401 non-null float64
1    401 non-null float64
2    401 non-null float64
3    401 non-null float64
4    401 non-null int64
5    401 non-null float64
6    401 non-null float64
7    401 non-null float64
8    401 non-null int64
dtypes: float64(7), int64(2)
memory usage: 28.3 KB

      0        1        2         3  4     5       6       7  8
0  0.00  0.27203  1.00820 -0.082102  1 -63.5  2.4252  924.25  1
1  0.50  0.27203  1.00820 -0.082102  1 -63.0  4.7369  921.75  1
2  1.50  0.44791  0.91636 -0.013684  1 -63.5  3.0311  923.75  1
3  1.75  0.44791  0.91636 -0.013684  1 -63.0  2.0371  921.25  1
4  2.50  0.34238  0.96229 -0.059296  1 -63.5  5.8920  920.25  1